* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

/*Стили первого блока-слайдера*/

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a67a5b;
    background-image: url(images/mainFon.jpg);
    background-size: cover;
    background-position: center center;
    padding: 60px 150px 42px 150px;
    height: 1024px;
}

/*Оформление лого и меню*/

.header {
    display: flex;
}

.logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin-left: 176px;
    margin-top: -17px;
}

.logo img {
    vertical-align: middle;
    width: 64px;
    height: 56px;
    padding-right: 15px;
}

.menu {
    display: flex;
    padding-left: 235px;
}

.menu-list {
    list-style-type: none;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-link:hover,
.menu-link-icon:hover {
    opacity: 0.7;
}

.menu-link-active {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #c7b299;
    padding: 10px 15px;
}

.menu-link-icon {
    padding-right: 10px;
    padding-left: 45px;
}

.iconUp {
    margin-top: -4px;
}

/*Контент слайдера*/

.slider-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.slider-smallheading {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.slider-headng {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.slider-text {
    max-width: 1150px;
    margin-top: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

/*Кнопки*/

.big-button {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    height: 50px;
    width: 170px;
    border: none;
    background-color: #998675;
    border-radius: 4px;
    letter-spacing: 0.05em;
    margin-top: 45px;
}

.big-button:hover {
    border: 2px solid;
    border-left-color: #767676;
    border-top-color: #767676;
    ;
    border-bottom-color: #c3c3c3;
    border-right-color: #c3c3c3;
    cursor: pointer;
}

.big-button:active {
    border: 2px solid;
    border-left-color: #c3c3c3;
    border-top-color: #c3c3c3;
    border-bottom-color: #767676;
    ;
    border-right-color: #767676;
}

.big-button:focus {
    outline: none;
}

.arrow {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 73px;
    background: transparent;
}

.left-arrow {
    background-image: url(images/left_arrow.png);
}

.right-arrow {
    background-image: url(images/right_arrow.png);
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    opacity: 0.7;
}

/*Пагинация*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5px;
}

.circle {
    width: 11px;
    height: 11px;
    background-color: #8c8d8f;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.circle:hover {
    background-color: #d3c1ad;
}

.circle-active {
    background: transparent;
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    margin-bottom: 1px;
}

/*Второй блок*/

.secondbox {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 80px;
}

.item {
    text-align: center;
    width: 15%;
    padding: 15px;
    height: 220px;
}

.item-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    padding: 25px;
}

.item-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 30px;
}

.item-icon {
    fill: #555555;
}

.item::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 70px;
    background-color: #f1eee9;
}

.item:hover {
    cursor: pointer;
}

.item:hover .item-heading {
    color: #c7b299;
}

.item:hover .item-icon {
    fill: #c7b299;
}

.item:hover::after {
    background-color: #c7b299;
}

/*трехмерный бокс*/

.three-dbox {
    background-color: #fbfaf8;
    text-align: center;
}

.page-heading {
    padding-top: 83px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.three-ddesc {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 1em;
}

.three-images {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.first-img {
    z-index: 3;
    position: relative;
}

.second-img {
    position: absolute;

    left: 346px;
    z-index: 2;
}

.last-img {
    position: absolute;
    right: 344px;
    z-index: 1;
}

/*полоса Wordpress c кнопкой*/

.wordpress-stripe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 48px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.wordpress-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.waxom {
    color: #c7b299;
}

.wordpress-text {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.5em;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.bew {
    margin: 0;
}

.left-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}





















































































































































65465465